.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7dfd7;
  padding: 2rem;
}
.carousel-wrapper {
  position: relative;
  max-width: 1024px;
  width: 100%;
}
.carousel {
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.carousel-slides-container {
  display: flex;
  align-items: center;
  position: relative;
}
.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  padding: 0;
  margin: 0;
}
.carousel-slide {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.carousel-slide-image picture img {
  width: 100%;
  height: auto;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.carousel-slide-content {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 45%;
}
.carousel-slide-content h2 {
  font-size: 1.5rem;
}
.carousel-slide-content p {
  margin: 0.5rem 0;
}
.button-container .button {
  background-color: #FF0000;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block;
}
.carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.slide-prev, .slide-next {
  background-color: #e49686;
  border: none;
  padding: 1rem;
  border-radius: 50%;
}
.slide-prev {
  margin-left: -2rem;
}
.slide-next {
  margin-right: -2rem;
}
.carousel-slide-indicators {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
}
.carousel-slide-indicator button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0.25rem;
}
.carousel-slide-indicator button span {
  display: none;
}
.carousel-slide-indicator[aria-current="true"] button {
  background-color: #FF0000;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
