.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: #e3d9cf;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 80%;
}

.carousel-slides-container {
  position: relative;
  overflow: hidden;
}

.carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

.slide-prev,
.slide-next {
  background-color: rgba(255, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-prev {
  left: 10px;
}

.slide-next {
  right: 10px;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3d9cf;
  overflow: hidden;
  position: relative;
}

.carousel-slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-slide-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
}

.carousel-slide-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.carousel-slide-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.carousel-slide-content .button-container a.button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.carousel-slide-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-slide-indicator button {
  background-color: #ff0000;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-slide-indicator button[disabled] {
  background-color: #ff8888;
}
